<!DOCTYPE html>
<html>
  <head>
    <title>Webseries</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
    .w3-bar-block .w3-bar-item {padding:20px}
    </style>
  </head>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <a href="#food" onclick="w3_close()" class="w3-bar-item w3-button">Webseries</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">About</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    <div class="w3-right w3-padding-16" > <a href="\index.html">Back</a></div> 
    <div class="w3-center w3-padding-16">Webseries to watch</div>
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="\images\breakingbad.jpg" alt="Sandwich" style="width:100%">
      <h3>Breaking Bad</h3>
      <p>A chemistry teacher diagnosed with inoperable lung cancer turns to manufacturing and selling methamphetamine with a former student in order to secure his family's future. </p>
    </div>
    <div class="w3-quarter">
      <img src="\images\got.jpg" alt="Steak" style="width:100%">
      <h3>Game of Thrones</h3>
      <p>Nine noble families fight for control over the lands of Westeros, while an ancient enemy returns after being dormant for millennia.</p>
    </div>
    <div class="w3-quarter">
      <img src="\images\scam.jpg" alt="Cherries" style="width:100%">
      <h3>SCAM 1992</h3>
      <p>Set in 1980s and '90s Bombay, it follows the life of Harshad Mehta, a stockbroker who took the stock market to dizzying heights and his catastrophic downfall.</p>
    </div>
    <div class="w3-quarter">
      <img src="\images\mirzapur.jpg" alt="Pasta and Wine" style="width:100%">
      <h3>Mirzapur</h3>
      <p>A shocking series of events entangling the lives of two families in the lawless city of Mirzapur.</p>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="\images\daredevil.jpg" alt="Popsicle" style="width:100%">
      <h3>Daredevil</h3>
      <p>A blind lawyer by day, vigilante by night. Matt Murdock fights the crime of New York as Daredevil.</p>
    </div>
    <div class="w3-quarter">
      <img src="\images\sacred.jpg" alt="Salmon" style="width:100%">
      <h3>Sacred Games</h3>
      <p>A link in their pasts leads an honest cop to a fugitive gang boss, whose cryptic warning spurs the officer on a quest to save Mumbai from cataclysm.</p>
    </div>
    <div class="w3-quarter">
      <img src="\images\boys.jpg" alt="Sandwich" style="width:100%">
      <h3>The Boys</h3>
      <p>A group of vigilantes set out to take down corrupt superheroes who abuse their superpowers.</p>
    </div>
    <div class="w3-quarter">
      <img src="\images\chernobyl.jpg" alt="Croissant" style="width:100%">
      <h3>Chernobyl</h3>
      <p>In April 1986, an explosion at the Chernobyl nuclear power plant in the Union of Soviet Socialist Republics becomes one of the world's worst man-made catastrophes.</p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
